/* .apply-container {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
  }
  
  .apply-header {
    font-size: 32px;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  
  .upload-resume-btn {
    background-color: darkblue;
    color: white;
    border: none;
    padding: 0.5em 1em;
    border-radius: 1em;
    margin-bottom: 2em;
    cursor: pointer;
    max-width: 15em;
  }
  
  .upload-resume-btn:hover {
    background-color: #003366;
  }
  
  .job-info {
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    margin-bottom: 3em;
  }
  
  .job-description {
    border: 0.2em solid #000000;
    padding: 0.5em;
    margin-bottom: 1em;
    max-width: 40em;
  }
  
  .job-info-item {
    margin-left: 10em; 
    margin-bottom: 0.5em;
    font-size: 22px;
  }
  
  .questions-title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 0.5em;
  }
  
  .form-group {
    margin-bottom: 0.75em;
    max-width: 30em;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ffffff;
    border-radius: 0.25em;
    background-color: rgb(95, 94, 94);
    box-sizing: border-box;
  }
  
  button[type="submit"] {
    background-color: rgb(167, 55, 167);
    color: white;
    border: none;
    padding: 0.5em 1em;
    border-radius: 1em;
    cursor: pointer;
    margin-top: 1em;
  }
  
  button[type="submit"]:hover {
    background-color: #6a0dad;
  }
   */
   